@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body {
  background-color: #F7F9FC;
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  font-size: 32px;
  color: purple;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
  color: purple;
}

p {
  line-height: 1.5em;
}

img {
  width: 300px;
  border-radius: 5px;
}

a {
  color: black;
  opacity: 0.8;
}

a:hover {
  color: purple;
}

button {
  background:    white;
  border:        2px solid rgb(130, 61, 128, 0.5);
  border-radius: 12px;
  padding:       10px 20px;
  color:         #823D80;
  display:       inline-block;
  font:          normal 18px/1 "Ubuntu", sans-serif;
  text-align:    center;
}

button:hover {
  border: 2px solid rgb(130, 61, 128, 1);
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card {
  background-color: white;
  padding: 40px;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 30px 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

li i {
  font-size: 40px;
  margin: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .list-inline > li {
    display: block;
    padding: 0px 20px;
  }

  li i {
    font-size: 30px;
    margin: 10px;
  }

  img {
    width: 150px;
  }

}
